# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.prettierignore
.vscode/settings.json
.VSCodeCounter
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/app/auto-imports.d.ts
auto-imports.d.ts

!.prettierignore
!.editorconfig

# Super-linter outputs
super-linter-output
super-linter.log

# GitHub Actions leftovers
github_conf

app/coverage
