@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .twitch-text {
    overflow-wrap: anywhere;
    text-size-adjust: 100%;
    font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
}
